
* {
    background-color: #E5DFA1;
}
h2 {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    color: black;
}
p {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}