/* VIDEO */
.about-video {
  position: relative;
  height: 70vh;
  overflow: hidden;
  cursor: auto;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  background-color: transparent;
  cursor: auto;
}
.overlay-text h1 {
  background-color: transparent;
}
/* HISTORIA */

.about-story h2 {
  font-size: 32px;
  padding: 20px;
  color: white;
  text-align: center;
  margin: auto;
}

.about-story p {
  text-align: center;
  cursor: auto;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: auto;
}

/* EQUIPO */


.about-team {
  text-align: center;
  background-color: #E5DFA1;
  padding-bottom: 30px;

}

.about-team h2 {
    font-size: 32px;
    padding: 20px;
    color: black;
    text-align: center;
    margin: auto;
    background-color: #E5DFA1;

}


.team-member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  background-color: #E5DFA1;

}

.team-img {
    background-color: #E5DFA1;

}
.team-img img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #E5DFA1;

}


.team-info {
  max-width: 500px;
  text-align: left;
  background-color: #E5DFA1;

}

.team-info h3 {
    font-size: 28px;
    padding: 10px;
    color: black;
    text-align: start;
    margin: auto;
    background-color: #E5DFA1;
    width: 80%;


}

.team-info p {
    text-align: start;
    cursor: auto;
    color: black;
    padding: 10px;
    font-size: 20px;
    width: 80%;
    margin: auto;
    background-color: #E5DFA1;

  }
  